.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.h2 {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  padding: 0 12px;
  color: #7289DA

}

.span {
  color: #FFF;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 200;
  color: #7289DA;
  font-size: 16px;
}

.h3 {
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  color: white
}

.linkContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin: 0;
  padding: 0;
}