.App {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  max-width: 986px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  background-color: #222122;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userButton {
  position: absolute;
  top: 24px;
  right: 24px;
  background-image: url('../../images/user.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: 1px white solid;
  border-radius: 40px;
  background-color: #222122;
  width: 52px;
  height: 52px;
}
