.container {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #222122;
  max-width: 986px;
  width: 100%;
  border-top: 0.3px #6b6a6a solid;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  height: 50px;
  min-width: 80px;
}

.link:hover {
  color: #7289DA;
}