.text {
  margin: 0 auto;
  color: white;
}

.button {
  margin: 0;
  width: 106px;
  background-color: #4E5D94;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
}

.buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-around;
  align-items: center;
}

.name {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  color: #7289DA;
}

.textWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}